@import "tailwindcss";

html, body, #__next {
  height: 100%;
}

body {
  background-color: #ffffff;
  color: #000000;
}

/* Remove all transitions and animations globally */
* {
  transition: none !important;
  animation: none !important;
}
